.one{
    background-color: #23262e;
}
.one-left{
    float: left;
   
}
.one-right{
    float:right;
    color: #ffffff;
    width: 382px;
   margin-top:20px;
height: 38px;
border: 1px solid #5b5c5d;
border-radius: 40px;
}
.one-right p{
    float: left;
    height: 100%;
   line-height: 36px;
   margin-right: 20px;
   margin-left: 20px;
}
.one-right input{
    color: #ffffff;
    border: none;
    background-color:#23262e;
    font-size: 14px;
    line-height: 36px;
    margin-left: 35px;
}
.one-right img{
    float: right;
margin-top:7px;
    margin-right: 20px;
    line-height: 38px;
}
.two{
   height: 44px;
}
.two-left{
    float: left;
}
.two-left li{
    float: left;
    padding: 13px 20px;
    font-size: 15px;
    background-color: #eff1f3;
}
.two-right{
    float: right;
    height: 44px;
}
.two-right  ul{
    margin-top:20px
}
.two-right li{
float: left;
color: #cccccc;
}
.two-right li:nth-child(1){
padding-right: 20px;
border-right: 1px solid #f1f1f1;
}
.two-right li:nth-child(2){
padding-left: 20px;

}
.two-right li p{
    float: right;
    margin-left: 10px;
    line-height: 18px;
    font-size: 15px;
}
.there{
    background-image: url(../img/img5/5ceb87e85d553.jpg);
    height: 460px;
 
}
.there-one{
    padding-top: 75px;
}
.there-one p:nth-child(1){
    font-size: 50px;
    color: #fff;
    text-align: center;
}
.there-one p:nth-child(2){
margin-top:30px;
    color: #fff;
    text-align: center;
    font-size: 16px;
}
.there-one p:nth-child(3){
    padding: 12px 25px;
    display: inline-block;
    font-size: 18px;
    background: #ffc600;
    border-radius: 30px;
    margin-left: 450px;
    margin-top:10px
}
.four{
    margin-top:30px;
}
.four-one{
    height: 30px;
    margin-bottom: 20px;
}
.four-one span{
    display: inline-block;
    width: 55px;
    text-align: center;
    line-height: 28px;
    margin-right: 10px;
    height: 28px;
    color: #ffffff;
    border-radius: 30px;
    font-size: 14px;
}
.four-one span:nth-child(1){
    background-color: #e60012;
}
.four-one span:nth-child(2){
    color: black;
}
.four-two{
    float: left;
    margin-bottom: 20px;
}
.four-two li{
    width: 218px;
    margin: 0 11px 50px;
    float: left;
    overflow: hidden;
}
.four-two-one img{
    width: 100%;
    border-radius: 10px;
}
.four-two p{
    margin-top: 10px;
    font-size: 15px;
    color: #515151;
}
.four-two-two span:nth-child(1){
    color: #919191;
}
.four-two-two span:nth-child(2){
    color: #ff2e2e;
    float: right;
}
.five{
    background-color: #2E3340;
}
.five-left{
    float: left;
    width: 458px;
    margin-top: 30px;
    border-right: 1px solid #cccccc;
}
.five-left ul{
    float: left;
    color: #b0bcd0;
    margin-right: 40px;
}
.five-left li{
    height: 25px;
    line-height: 25px;
    font-size: 14px;
}

.five-left h3{
    font-size: 16px;
    color: #fff;
}
.five-center{
    margin-left: 20px;
    float: left;
    margin-top: 30px;
    padding-right: 30px;
    border-right: 1px solid #cccccc;
}
.five-center img{
    margin-left:40px
}
.five-right{
    float: left;
    color:  #b0bcd0;
    margin-top:30px;
    padding-left: 30px;
}
.five-right p{
    margin-top: 20px;
    font-size: 18px;
}